<div class="S7information">
    <div class="water-resistant">
        <div class="header">Water-Resistant</div>
        <span>You can’t live without water or your smartphone, which is why the Galaxy S7 has a certified
            water-resistant rating. It repels spills, splashes and even dunks1 without a bulky protective case.</span>
        <video autoplay="" name="media">
            <source
                src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/videos/module2/video.mp4"
                type="video/mp4">
        </video>
    </div>

    <div class="storage">
        <div class="header">Expandable Memory</div>
        <span>Running out of memory shouldn’t be a thing. So if 32GB isn’t already enough, you can add an additional
            200GB with a microSD card. No clouds, no hard drives.</span>
        <video autoplay="" name="media">
            <source
                src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/videos/module5/video.mp4"
                type="video/mp4">
        </video>
    </div>

    <!-- <div class="design">
        <div class="header">Smart Design</div>
        <span>The Galaxy S7 and S7 edge feature big screens in incredibly slim designs that fit comfortably in the palm
            of your hand. We’ve perfected the S7 edge’s curved screen, so all you need to do is swipe for instant
            updates. Easy.</span>
        <video autoplay="" loop name="media">
            <source
                src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/videos/module3/video.mp4"
                type="video/mp4">
        </video>
    </div> -->

    <!-- <div class="camera">
        <div class="header">Dual-pixel Technology</div>
        <span>Never miss a shot—and make sure it’s good and bright. The Galaxy S7 is the first smartphone with
            dual-pixel technology, so it captures better photos in low-light environments and focuses faster than the
            blink of an eye. And with Quick Camera, all you need to do is double-tap the home button and start
            shooting.</span>
        <img src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/img/module4/hand.png"
            alt="" />
    </div>

    <div class="battery">
        <div class="header">Fast wireless charging</div>
        <div class="b2">
            <span>Stop waiting for your phone to charge. With fast wireless charging4, the Galaxy S7 powers up from 0 to
                100% in no time at all. And with our biggest battery5, it gives you the power to keep going.</span>
            <a href="http://www.samsung.com/us/mobile/cell-phones-accessories/EP-PN920TBEGUS">Find out more ></a>
        </div>
        <video autoplay="" name="media">
            <source
                src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/videos/module6/video.mp4"
                type="video/mp4">
        </video>
    </div> -->

    <!-- <div class="os">
        <div class="header">The latest Android OS</div>
        <span>Things just got sweeter. The Galaxy S7 is powered by the latest Android Marshmallow OS. That means less
            battery drain from apps you don’t use, and new features like Now on Tap—the genius technology that
            anticipates your next move.</span>
        <img src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/img/module7/android.jpg"
            alt="" />
    </div> -->

    <!-- <div class="samsung-pay">
        <div class="header">Samsung Pay</div>
        <div class="sp2">
            <span>The first mobile payment that’s accepted almost anywhere you can swipe or tap your card.6 It’s simple,
                secure and works in more places than any other mobile payment service.</span>
            <a href="/detail">Find out more ></a>
        </div>
        <img src="http://www.samsung.com/us/explore/galaxy-s7-features-and-specs/dist/assets/img/module8/spay.jpg"
            alt="" />
    </div> -->
</div>